/* ExclusiveDetailsPage.css */
.exclusive-details-page {
    padding-top: 12vh;
    font-family: Arial, sans-serif;
  }
  .exclusive-details-page {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  .gallery {
    overflow: hidden; /* Hide any content that overflows */
  }
  
  .gallery .slick-list {
    overflow: hidden; /* Hide any content that overflows */
  }
  
  
  .header {
    background-image: linear-gradient(120deg, #ffcb77, #ff6f61);
    color: black;
    padding: 20px 0;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .container h2 {
    font-weight: 100;
  }
  .container p{
    font-size: 18px;
  }
  
  .event-details {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .gallery {
    background-color: #e9ecef;
    padding: 50px 0;
  }
  
  .location {
    background-color: #dee2e6;
    padding: 50px 0;
  }
  
  